body{
    padding-top:33px;
    min-width: 500px;
}
main{
    /*background-image:url("./img/cream_dust.png");*/
    background-color: #f8f8f8;
    padding: 40px 0;
}
.navbar,footer{
    background-color: #193056;
}
.navbar-brand{
    margin-bottom:4px;
    margin-top: -4px;
    margin-left: 6px;
}
.logo-hidden{
    font-size: 36px;
    color: #f8f8f8;
}
.icon-bar{
    background-color:#f8f8f8;
}
.icon{
    display: block;
    width:32px
}
.nav-item{
    color:#f8f8f8;
}
.nav-h1{
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
}
.logo-bold{
    font-style: italic;
    font-weight: bold ;
}
.img-box{
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4)
}
.img-responsive{
    border-radius: 2px;
}
.lead{
    font-size: 24px;
    color: #373738;
    text-align: center;
    font-weight: 400;
}
.caption{
    font-size: 14px;
    color: #373738;
    text-align: left;
    margin-bottom: 3px;
}
.caption:last-child{
    margin-bottom: 30px;
}
.info-box{
    background-color: white;
    margin:0 50px;
    border-radius:4px;
}
.lead{
    font-size: 24px;
    color: #373738;
    font-weight: 400;
}
.nav-header{
    margin-top: -3px;
    margin-bottom:-10px;
}
.copy{
    margin-bottom:0;
    line-height: 50px;
    font-size: 14px;
    color: #f8f8f8;
}
